@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-dark: #0d1117;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #30363d;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #58a6ff;
}

/* Modal Dark Theme Overrides */
.dark-modal .ant-modal-content {
  background-color: #0d1117;
  border: 1px solid #30363d;
}

.dark-modal .ant-modal-header {
  background-color: #0d1117;
  border-bottom: 1px solid #30363d;
}

.dark-modal .ant-modal-title {
  color: #e6edf3;
}

.dark-modal .ant-modal-close {
  color: #8b949e;
}

.dark-modal .ant-modal-close:hover {
  color: #e6edf3;
  background-color: rgba(177, 186, 196, 0.12);
}

/* Confirm Modal Specifics */
.dark-confirm-modal .ant-modal-content {
  background-color: #161b22 !important; /* Slightly lighter than pure black for confirms */
  border: 1px solid #30363d !important;
}

.dark-confirm-modal .ant-modal-confirm-title {
  color: #e6edf3 !important;
}

.dark-confirm-modal .ant-modal-confirm-content {
  color: #8b949e !important;
}